<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.bes.system.mapper.DictionaryMapper">
  <resultMap id="BaseResultMap" type="com.boss.bes.system.entity.Dictionary">
    <!--@mbg.generated generated on Tue Jul 07 10:24:37 CST 2020.-->
    <!--@Table t_dictionary-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="t_o_id" jdbcType="BIGINT" property="organizationId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category" jdbcType="CHAR" property="category" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="BIGINT" property="updatedTime" />
    <result column="version" jdbcType="INTEGER" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Jul 07 10:24:37 CST 2020.-->
    id, t_o_id, `name`, category, `value`, remark, `status`, created_by, created_time, 
    updated_by, updated_time, version
  </sql>
</mapper>