<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.bes.exam.mapper.ExamRecordMapper">
    <resultMap id="BaseResultMap" type="com.boss.bes.exam.model.po.ExamRecord">
        <!--@mbg.generated generated on Tue Jul 07 10:40:13 CST 2020.-->
        <!--@Table t_exam_record-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="t_p_id" jdbcType="BIGINT" property="tPId"/>
        <result column="t_u_id" jdbcType="BIGINT" property="tUId"/>
        <result column="t_y_id" jdbcType="BIGINT" property="tYId"/>
        <result column="plan_start_time" jdbcType="TIMESTAMP" property="planStartTime"/>
        <result column="plan_end_time" jdbcType="TIMESTAMP" property="planEndTime"/>
        <result column="actual_start_time" jdbcType="TIMESTAMP" property="actualStartTime"/>
        <result column="actual_end_time" jdbcType="TIMESTAMP" property="actualEndTime"/>
        <result column="objective_subject_score" jdbcType="DECIMAL" property="objectiveSubjectScore"/>
        <result column="subjective_subject_score" jdbcType="DECIMAL" property="subjectiveSubjectScore"/>
        <result column="marking_assign_time" jdbcType="TIMESTAMP" property="markingAssignTime"/>
        <result column="score" jdbcType="DECIMAL" property="score"/>
        <result column="system_evaluate" jdbcType="VARCHAR" property="systemEvaluate"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="company_id" jdbcType="BIGINT" property="companyId"/>
        <result column="created_by" jdbcType="BIGINT" property="createdBy"/>
        <result column="created_time" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="updated_by" jdbcType="BIGINT" property="updatedBy"/>
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated generated on Tue Jul 07 10:40:13 CST 2020.-->
        id, t_p_id, t_u_id, t_y_id, plan_start_time, plan_end_time, actual_start_time, actual_end_time,
        objective_subject_score, subjective_subject_score, marking_assign_time, score, system_evaluate,
        `status`, company_id, created_by, created_time, updated_by, updated_time, version
    </sql>
    <select id="getById" resultMap="BaseResultMap">
        select *
        from t_exam_record
        where t_p_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        order by score desc
    </select>
    <select id="getExamPeopleNum" resultType="int">
        select count(*)
        from t_exam_record
        where t_p_id = #{id}
    </select>
    <select id="getExamRecordByCondition" parameterType="com.boss.bes.exam.model.query.ExamRecordQuery"
            resultType="com.boss.bes.exam.model.po.ExamRecordQueryResult">
        SELECT t_exam_record.id                       AS id,
               t_exam_record.actual_end_time          AS actualEndTime,
               t_exam_record.objective_subject_score
                                                      AS objectiveSubjectScore,
               t_exam_record.subjective_subject_score AS subjectiveSubjectScore,
               t_exam_record.system_evaluate          AS systemEvaluate,
               t_exam_record.status                   AS status,
               t_exam_publish_record.t_p_id           AS tPId,
               t_exam_publish_record.exam_batch_no    AS examBatchNo,
               t_exam_publish_record.created_time     AS publishTime,
               t_exam_publish_record.marking_stop_time     AS markStopTime,
               t_exam_user.name                       AS name,
               t_exam_user.mobile                     AS mobile
        FROM t_exam_record
                     LEFT JOIN t_exam_user ON t_exam_record.t_u_id = t_exam_user.id
                     LEFT JOIN t_exam_publish_record ON t_exam_record.t_p_id = t_exam_publish_record.id
        <where>
            <if test="reviewerId != null">
                AND t_exam_record.t_y_id = #{reviewerId,jdbcType=BIGINT}
            </if>
            <if test="batchNumber != null and batchNumber != ''">
                AND t_exam_publish_record.exam_batch_no like concat('%', #{batchNumber}, '%')
            </if>
            <if test="startTime != null">
                AND t_exam_record.actual_end_time &gt;= #{startTime,jdbcType=TIMESTAMP}
            </if>
            <if test="endTime != null">
                AND t_exam_record.actual_end_time &lt;= #{endTime,jdbcType=TIMESTAMP}
            </if>
            <if test="status != null">
                AND t_exam_record.status = #{status}
            </if>
        </where>
    </select>
    <update id="updateTag">
        update t_exam_record
        set system_evaluate = #{tag}
        where id = #{id}
    </update>
</mapper>