<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boss.bes.exam.mapper.ExamUserMapper">
  <resultMap id="BaseResultMap" type="com.boss.bes.exam.model.po.ExamUser">
    <!--@mbg.generated generated on Tue Jul 07 10:40:13 CST 2020.-->
    <!--@Table t_exam_user-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="BOOLEAN" property="sex" />
    <result column="university" jdbcType="VARCHAR" property="university" />
    <result column="educational" jdbcType="VARCHAR" property="educational" />
    <result column="english_level" jdbcType="VARCHAR" property="englishLevel" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="graduate_time" jdbcType="DATE" property="graduateTime" />
    <result column="school_position" jdbcType="VARCHAR" property="schoolPosition" />
    <result column="internship_info" jdbcType="VARCHAR" property="internshipInfo" />
    <result column="prize_info" jdbcType="VARCHAR" property="prizeInfo" />
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="version" jdbcType="BIGINT" property="version" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Jul 07 10:40:13 CST 2020.-->
    id, mobile, email, `password`, `name`, sex, university, educational, english_level, 
    major, graduate_time, school_position, internship_info, prize_info, photo_url, remark, 
    `status`, created_by, created_time, updated_by, updated_time, version
  </sql>
</mapper>